html {
    background-color: rgb(197,190,249);
}

body {
    font-family: 'Raleway', sans-serif;
}

.box.main-content {
    background-color: rgba(255,255,255,.97);
    padding: .75em;
}

.hero.is-cool {
    color: rgb(245,245,245);
}

.profile-image {
    height: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

.message.commit-card {
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    border-radius: 5px;
    font-size: 1rem;
}

.message-header {
    background-color: rgb(245,245,245);
    border-radius: 5px 5px 0 0;
    color: #000;
}

.message-body {
    border: 0px;
    border-radius: 5px;
    color: #4a4a4a;
    padding: .5em .75em;
}

.message a:not(.button):not(.tag) {
    color: rgb(167,145,229);
    text-decoration: none;
}

.subtitle:not(:last-child), .title:not(:last-child) {
    margin-bottom: 0rem;
}

.modal-card, .modal-content {
    height: 100%;
    width: 50rem;
}

a, .link {
    color: rgb(167,145,229);
}

hr {
    margin: .5rem 0;
}
