html {
    /* background-color: rgb(197,190,249); */
    background-color: rgb(0,0,0);
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
}

.box.main-content {
    background-color: rgba(255,255,255,.95);
    padding: .75em;
}

.hero.is-cool {
    color: rgb(245,245,245);
}

.profile-image {
    height: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

.img-small {
    height: 100%;
    padding-bottom:1em;
    border-radius: 20px;
}

.button.is-warning.is-outlined {
    background-color: transparent;
    border-color: #ff9447;
    color: #ff9447;
}

.button.is-warning.is-outlined:hover {
    background-color: #ff9447;
    border-color: transparent;
    color: rgba(255,255,255,1);
}

.message.commit-card {
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    border-radius: 5px;
    font-size: 1rem;
}

.message-header {
    background-color: rgb(245,245,245);
    border-radius: 5px 5px 0 0;
    color: #000;
}

.message-body {
    border: 0px;
    border-radius: 5px;
    color: #4a4a4a;
    padding: .5em .75em;
}

.message a:not(.button):not(.tag) {
    color: rgb(167,145,229);
    text-decoration: none;
}

.subtitle:not(:last-child), .title:not(:last-child) {
    margin-bottom: 0rem;
}

.modal-card, .modal-content {
    height: 100%;
    width: 50rem;
}

.qr-card {
    height: 75%;
}

.notification.qr-message {
  position: relative;
  margin-top: .25em;
  padding: .5rem .75rem .5rem .5rem;

  background-color: rgba(255,255,255,.50);
  border-radius: 5px;
  text-align: center;
  color: #fff;
}
.notification.qr-message:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255,255,255,0);
	border-bottom-color: rgba(255,255,255,.50);
	border-width: 15px;
	margin-left: -15px;
}

a, .link {
    color: rgb(167,145,229);
}

hr {
    margin: .5rem 0;
}

.background-image{
    padding: -3em;
    position: fixed;
    z-index: -1;

    display: block;
    background: url("../assets/background.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    max-height: 100%;
    width: 100%;
    height: 100vh;

    /* -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px); */
}
