body {
  font-family: 'Raleway', sans-serif;
}

.main-content {
  background-color: rgba(255,255,255,.95);
}

.hero.is-dark .title {
  color: rgba(15,15,15,.9);
}

.profile-image {
  border-radius: 10px;
}

.page-links {
  margin-top: -1.5rem;
}

hr {
  margin: .5rem 0;
}
